<%- include('../partials/header') %>

  <div class="starter-template">
    <h1>Public news</h1>
    <table>
      <% for(let i=0; i < news.length; i++) { %>
        <tr>
          <td><%= news[i].title %></td>
        </tr>
      <% } %>
    </table>

  </div>
<%- include('../partials/footer') %>
